.login {
  min-height: 100vh;
}

.card {
  padding: 40px !important;
}

.title {
  font-size: 2.2rem;
  margin-top: 0;
}

.text {
  margin-bottom: 0;
}

.link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: rgba(0,0,0,0.87);
  }
}

:global {
  .container  {
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .container .row {
    width: 100%;
  }
}
