.checkbox span {
  color: white !important;
}

.checkbox {
  padding: 8px !important;
}

.flags {
  padding: 16px;
}

.text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global {
  /* change colour of filled in check box */
  .checkbox-orange-white[type="checkbox"].filled-in:checked + span:not(.lever):after
  {
    border: 2px solid #00695c;
    background-color: #00695c;
  }

  /* change colour of filled in check box */
  .checkbox-orange-white[type="checkbox"].filled-in + span:not(.lever):after
  {
    border: 2px solid rgba(160, 160, 160, 0.3);
  }
}
